---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🚀 Hello, visitor!</h1>
			<p>
				Welcome to my personal site. I'm building it on top of <a href="">this Astro template</a>, but expect
				updates over time. Current plans that I have so far for this site is mainly to host blog content, though
				that may change in the future as well!
			</p>
		</main>
		<Footer />
	</body>
</html>
